<style>
    body {
       font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
       background-color: black;
    }
    header{
     width: 100%;
     top: 0;
     right: 0;
     z-index: 1000;
     position: fixed;
     background: var(--text-color);
     box-shadow: 0px 2px 18px 0 rgba(182, 135, 129, 0.2);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 25px 8%;
     transition: .3s;
 }
 .logo{
     color: var(--bg-color);
     font-size: var(--main-font);
     font-weight: 100%;
     line-height: 0.8;
 }
 .navbar{
     display: flex;
     
 }
 .navbar a{
     font-size: var(--p-font);
     color: var(--bg-color);
     font-weight: 600;
     padding: 10px 15px;
     margin: 0 10px;
     transition: all .40s ease;
 }
 .navbar a:hover{
     background: var(--bg-color);
     color: rgb(0, 0, 0);
 }
    img {
       width: 100%;
    }
    .couponContainer {
       border: 5px dashed hsl(0,0%,73%);
       width: 300px;
       height: 420px;
       border-radius: 5px;
       margin: 0 auto;
      
    }
    .detailContainer {
       padding: 2px 10px;
       background-color: #d4d4d4;
    }
    .promo {
       background: rgb(104, 104, 104);
       color: white;
       padding: 1px;
    }
    .expiryDate {
       color: red;
       font-weight: bold;
    }
    #divv{
 
     margin-left: 600px;
     margin-top: 250px;
 
    }
    table{
     border-spacing: 20px;
    }
    #img{
       height: 200px;
       width: 300px;
 
    }
 </style>